<div class="container">
<div class="d-flex flex-column">
  <h1><%= @article.title  %> </h1>
  <p2><%= @article.content %> </p2>
</div>
  <%= link_to "Back to List", articles_path, class: 'btn btn-primary mt-3' %>
</div>
